# Jupyter Notebook checkpoints (if you use Jupyter)
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files for other Python implementations
*.pyd
*.pyo
*.pyd

# MyPy cache
.mypy_cache/
.dmypy.json
.pyre/

# VSCode extensions/settings
.vscode/*

# Pytest cache
.pytest_cache/

# Coverage files
.coverage.*
.cache

# Flask migrations (if using Flask-Migrate)
migrations/

# Mac-specific file (can be duplicated sometimes)
.AppleDouble

# Windows thumbnail cache files
ehthumbs.db

# Docker-related (if you use Docker)
docker-compose.override.yml
.docker/

# Python packaging
pip-wheel-metadata/
